<p>
  <a href="https://github.com/seidme/flxng/tree/master/projects/mentions"
     target="_blank"
     aria-label="Source code"
     class="flx-link">Source code</a>
</p>

<p>
  Flexible, lightweight, easy-to-use, without external dependencies - Mentions component for Angular.
</p>

<div class="row">
  <div class="row-item">
    <p>
      Apply directive to the element which has some dynamic content to be loaded, basic example:
    </p>
    <!-- <app-overview-a></app-overview-a>
    <flx-mentions packageName="mentions"
                  componentName="overview-a"></flx-mentions> -->
  </div>

  <!-- <div class="row-item">
    <p>
      Controlling the loader by providing the flag to the directive:
    </p>
    <app-overview-c></app-overview-c>
    <flx-code-show packageName="loader"
                   componentName="overview-c"></flx-code-show>
  </div> -->
</div>