:host {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &.extra-gap-top {
      margin-top: 2rem;
    }

    .row-item {
      flex: 1 1 40%;
      margin-top: 2rem;
      margin-right: 6rem;

      p {
        width: 80%;
        min-height: 40px;
      }
    }
  }
}
