<div class="package-link-container">
  <a routerLink="/loader"
     [routerLinkActive]="['active']"
     class="flx-link">
    <span class="flx-text">Loader</span>
  </a>
</div>

<div class="package-link-container">
  <a routerLink="/circle-timer"
     [routerLinkActive]="['active']"
     class="flx-link">
    <span class="flx-text">Circle Timer</span>
  </a>
</div>

<div class="package-link-container">
  <a routerLink="/paginator"
     [routerLinkActive]="['active']"
     class="flx-link">
    <span class="flx-text">Paginator</span>
  </a>
</div>

<div class="package-link-container">
  <a routerLink="/treetable"
     [routerLinkActive]="['active']"
     class="flx-link">
    <span class="flx-text">Treetable</span>
  </a>
</div>