:host {
}

.modal-content-wrapper {
  width: 1000px;
  height: 500px;
  padding: 20px 5px;

  @media screen and (max-width: 768px) {
    /* Styles to apply when the screen width is 768px or less */
    width: 360px;
  }

  .head {
    padding: 0 30px;
    height: 50px;
  }

  .body {
    padding: 0 20px;
    height: 400px;
    overflow: auto;
  }

  .foot {
    padding: 0 30px;
    height: 50px;
  }
}
