
<h2>Vertical scrolling</h2>

<p>
    Datatable's height, by default, is dynamic - determined by the content. Data scrolling can be enabled by providing the <code>bodyStyle</code> object containing the <code>height</code> attribute:
    <br>
</p>

<div class="datatable-container">
    
    <flx-datatable [data]="logs" [bodyStyle]="{ height: '200px' }">

        <flx-column field="id" header="ID"></flx-column>
        <flx-column field="createdDate" header="CREATED DATE"></flx-column>
        <flx-column field="status" header="STATUS"></flx-column>
        <flx-column field="message" header="MESSAGE"></flx-column>

      </flx-datatable>
</div>

<button type="button" (click)="geeet()">geeet</button>
<pre><code>{{content}}</code></pre>

<br>
<p>
    If defined, datatable will populate parent element's height (even though no data is present). To make the datatable's body scrollable, in this case, <code>flex-basis</code> attribute value needs to be provided:
    <br>
</p>

<div class="datatable-container" style="height: 350px">
        
        <flx-datatable [data]="logs" [bodyStyle]="{ 'flex-basis': '100px' }">
            
            <flx-column field="id" header="ID"></flx-column>
            <flx-column field="createdDate" header="CREATED DATE"></flx-column>
            <flx-column field="status" header="STATUS"></flx-column>
            <flx-column field="message" header="MESSAGE"></flx-column>
          
          </flx-datatable>
    </div>

<button type="button" (click)="geeet()">geeet</button>
<pre><code>{{content}}</code></pre>


<br>
<h2>Horizontal scrolling</h2>
<p>
    Horizontal scrolling is enabled with <a routerLink="/datatable/column-resizing" class="flx-link">'expand' resize mode</a>.
    <br>
</p>