<div class="modal-content-wrapper">
  <div class="head">
    <h2>Edit item</h2>
    <!-- <button class="close-button" (click)="close()">×</button> -->
  </div>
  <div class="body">
    <div class="form">
      <ng-container *ngFor="let fieldSchema of source.parsedItemDetailsSchema">
        <div class="form-field-group"
             *ngIf="isFieldEditable(fieldSchema.id)">
          <div class="form-field">
            <label for="{{fieldSchema.id}}">{{fieldSchema.name}}:</label>
            <input id="{{fieldSchema.id}}"
                   *ngIf="fieldSchema.id !== '9'"
                   [(ngModel)]="editingItem.parsedDetails[fieldSchema.id]" />
            <textarea id="{{fieldSchema.id}}"
                      *ngIf="fieldSchema.id === '9'"
                      cols="60"
                      rows="3"
                      [(ngModel)]="editingItem.parsedDetails[fieldSchema.id]"></textarea>
          </div>

        </div>
      </ng-container>
    </div>

  </div>
  <div class="foot">
    <button type="button"
            class="delete-button bg-red"
            (click)="delete()">Delete</button>
    <button type="submit"
            (click)="save()">Save</button>
  </div>
</div>