<!-- <h2>Overview</h2> -->

<p>
  <a href="https://github.com/seidme/flxng/tree/master/projects/treetable"
     target="_blank"
     aria-label="Source code - Github docs"
     class="flx-link">Source code - Github docs</a>
</p>

<br>
<p>
  A flexible, feature-rich, customizable, lightweight Angular Treetable component without external dependencies which
  exposes intuitive and easy-to-use APIs.
</p>

<p>
  Tree view feature is accomplished using recursion in HTML, and nested tables can be synchronized with their respective
  parents or act independently.
</p>


<br>
<app-overview-a></app-overview-a>
<flx-code-show packageName="treetable"
               componentName="overview-a"></flx-code-show>

<br>
<p>
  To be fully documented..
</p>