<p>
  <a href="https://github.com/seidme/flxng/tree/master/projects/circle-timer"
     target="_blank"
     aria-label="Source code - Github docs"
     class="flx-link">Source code - Github docs</a>
</p>
<p>
  Flexible, lightweight, easy-to-use, without external dependencies - Circle Timer component for Angular.
</p>

<div class="row">
  <div class="row-item">
    <p>
      Basic example with timer duration of 10 seconds: 
    </p>
    <app-overview-a></app-overview-a>
    <flx-code-show packageName="circle-timer"
                   componentName="overview-a"></flx-code-show>
  </div>

  <div class="row-item">
    <p>
      Example where Timer starts automatically and some time has already been passed (e.g. startDate is retrieved from the server):
    </p>
    <app-overview-b></app-overview-b>
    <flx-code-show packageName="circle-timer"
                   componentName="overview-b"></flx-code-show>
  </div>
</div>

<div class="row extra-gap-top">
  <div class="row-item">
    <p>
      Example with days and hours included:
    </p>
    <app-overview-c></app-overview-c>
    <flx-code-show packageName="circle-timer"
                   componentName="overview-c"></flx-code-show>
  </div>
</div>


<br>
<br>
<br>
<p>
  Pause and resume functionality to be implemented..
</p>