<p>
  <a href="https://github.com/seidme/flxng/tree/development/projects/circle-timer"
     target="_blank"
     aria-label="Source code"
     class="flx-link">Source code</a>
</p>

<br>
<p>
  Circle Timer component for Angular, basic example:
</p>
<br>
<app-overview-a></app-overview-a>
<flx-code-show packageName="circle-timer"
               componentName="overview-a"></flx-code-show>

<br>
<br>
<br>
<p>
  Example where Timer starts automatically and some time has already been passed (e.g. startDate is retrieved from the server):
</p>
<br>
<app-overview-b></app-overview-b>
<flx-code-show packageName="circle-timer"
               componentName="overview-b"></flx-code-show>


<br>
<br>
<br>
<p>
  Example with days and hours included:
</p>
<br>
<app-overview-c></app-overview-c>
<flx-code-show packageName="circle-timer"
               componentName="overview-c"></flx-code-show>


<br>
<br>
<br>
<p>
  Pause and resume functionality to be implemented..
</p>