<div class="modal-content-wrapper">
  <div class="head">
    <h2>Maps</h2>
    <span *ngIf="item">m2 price: <strong>{{item[ItemField.M2Price]}}</strong></span>
    <span *ngIf="searchResponse">City block m2 price median: <strong>{{searchResponse.m2PriceAverage.median}}</strong></span>
  </div>
  <div class="body">

    <div id="map"
         style="width: 100%; height: 100%;"></div>

  </div>
  <div class="foot">
    <!-- <button type="button"
            class="delete-button bg-red"
            (click)="delete()">Delete</button> -->
    <button type="submit"
            *ngIf="item && item[ItemField.FormattedAddress] && !item.invalid"
            (click)="geohashSearch(item)">Geohash search (city block)</button>
  </div>
</div>