<p>
  <a href="https://github.com/seidme/flxng/tree/development/projects/loader"
     target="_blank"
     aria-label="Source code"
     class="flx-link">Source code</a>
</p>

<br>
<p>
  Flexible, lightweight, easy-to-use loader for Angular.
</p>
<br>
<p>
  Apply directive to the element which has some dynamic content to be loaded, basic example:
</p>
<br>
<app-overview-a></app-overview-a>
<flx-code-show packageName="loader"
               componentName="overview-a"></flx-code-show>


<br>
<br>
<p>
  Example with multiple loaders (doing some parallel fetching):
</p>
<br>
<app-overview-b></app-overview-b>
<flx-code-show packageName="loader"
               componentName="overview-b"></flx-code-show>

<br>
<br>
<p>
  Controlling the loader by providing the flag to the directive:
</p>
<br>
<app-overview-c></app-overview-c>
<flx-code-show packageName="loader"
               componentName="overview-c"></flx-code-show>


<br>
<br>
<p>
  Global loader example (controlled through the service):
</p>
<br>
<app-overview-d></app-overview-d>
<br>
<br>
<flx-code-show packageName="loader"
               componentName="overview-d"></flx-code-show>

<br>
<br>
<p>
  Appending the loader to buttons:
</p>
<br>
<app-overview-e></app-overview-e>
<br>
<br>
<flx-code-show packageName="loader"
               componentName="overview-e"></flx-code-show>