<div class="app-layout">
  <div class="app-layout-head">
    <app-header #header
                (hamburgerToggle)="sidebar.toggle($event)">
      <div headerContentLeft
           class="header-content-left">
        <span class="flx-text app-title">@flxng</span>
      </div>
      <div headerContentRight
           class="header-content-right">
        <span class="flx-text heading">{{currentUrl}}</span>
        <a href="https://github.com/seidme/flxng"
           target="_blank"
           aria-label="Star @flxng/treetable on GitHub"
           class="flx-link">
          <app-svg icon="github"></app-svg>
          <span class="flx-text btn-text">Star</span>
        </a>
      </div>
    </app-header>
  </div>

  <div class="app-layout-body">
    <div class="app-layout-body-sidebar flx-right-shadow">
      <app-sidebar #sidebar
                   (sidebarVisibilityAutoChange)="header.toggleHamburger($event)">
        <app-navigation></app-navigation>
      </app-sidebar>
    </div>

    <div class="app-layout-body-content">
      <div class="app-content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>