button {
  cursor: pointer;
}

.flx-box-shadow {
  //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 2px 2px -2px rgba(0, 0, 0, 0.2),
    0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}

.flx-right-shadow {
  box-shadow: 5px 0px 5px -2px rgba(0, 0, 0, 0.15);
  //box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.flx-right-up-shadow {
  box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.flx-bottom-shadow {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.15);
}

.flx-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.flx-link {
  text-decoration: none;
  cursor: pointer;
  color: #0068ce;

  &:hover {
    font-weight: bold;
  }
}

.flx-input {
  width: 100%;
  border: 1px solid #808080;
  border-radius: 15px;
  background-color: #475057;
  padding: 7px 10px;
  color: #9c9c9c;
  font-style: italic;

  &:focus {
    outline: none;
    box-shadow: 0 0 3pt 2pt #808080;
  }
}

.flx-button {
  width: 100%;
  border: 1px solid #808080;
  border-radius: 15px;
  background-color: #475057;
  padding: 7px 10px;
  color: white;
  cursor: pointer;
  outline: none;

  &.flx-button-primary {
    background-color: #59abe5;
  }
}

.flx-input-validation-message {
  color: #fe6e6e;
  font-size: 12px;
  margin-left: 5px;
}

.flx-selectable-list {
  padding: 0;

  .flx-selectable-list-item {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    min-width: 10rem;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      font-weight: bold;
      background-color: rgba(238, 238, 238, 0.5);
    }

    > span {
      //flex-grow: 0;
      color: rgba(0, 0, 0, 0.69);
      //font-family: omnes_att_ii_medium;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .material-icons {
      color: #51dec2;
    }
  }
}

.flx-docs-table {
  border-collapse: collapse;
  min-width: 60%;
  color: #24292e;
  font-size: 14px;

  th,
  td {
    border: 1px solid #dfe2e5;
  }

  th {
    padding: 1rem;
  }

  td {
    padding: 0.6rem;
  }
}

.flx-code {
  padding: 1rem;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
  letter-spacing: 1px;
  word-spacing: 2px;

  &.flx-code-bash {
    &:before {
      content: '$';
      margin-right: 0.4rem;
    }
  }
}
