<p>
  <a href="https://github.com/seidme/flxng/tree/development/projects/paginator"
     target="_blank"
     aria-label="Source code"
     class="flx-link">Source code</a>
</p>

<p>
  Flexible, lightweight, easy-to-use, without external dependencies - Paginator component for Angular.
</p>

<div class="row">
  <div class="row-item">
    <p>
      Example:
    </p>
    <app-overview-a></app-overview-a>
    <flx-code-show packageName="paginator"
                   componentName="overview-a"></flx-code-show>
  </div>
</div>

<div class="row">
  <div class="row-item">
    <p>
      Custom HTML can be provided for 'number of tems per page' select options, for example:
    </p>
    <!-- <app-overview-c></app-overview-c>
    <flx-code-show packageName="loader"
                   componentName="overview-c"></flx-code-show> -->
  </div>
</div>