<p>
  <a href="https://github.com/seidme/flxng/tree/master/projects/paginator"
     target="_blank"
     aria-label="Source code"
     class="flx-link">Source code</a>
</p>

<p>
  Flexible, lightweight, easy-to-use, without external dependencies - Paginator component for Angular.
</p>

<div class="row">
  <div class="row-item">
    <p>
      Basic example:
    </p>
    <app-overview-a></app-overview-a>
    <flx-code-show packageName="paginator"
                   componentName="overview-a"></flx-code-show>
  </div>
</div>

<div class="row">
  <div class="row-item">
    <p>
      Custom configuration example:
    </p>
    <app-overview-b></app-overview-b>
    <flx-code-show packageName="paginator"
                   componentName="overview-b"></flx-code-show>
  </div>
</div>