<p>
  <a href="https://github.com/seidme/flxng/tree/development/projects/paginator"
     target="_blank"
     aria-label="Source code"
     class="flx-link">Source code</a>
</p>

<p>
  Flexible, lightweight, easy-to-use, without external dependencies paginator component for Angular.
</p>

<div class="row">
  <div class="row-item">
    <p>
      Example:
    </p>
    <app-overview-a></app-overview-a>
    <flx-code-show packageName="paginator"
                   componentName="overview-a"></flx-code-show>
  </div>

  <!-- <div class="row-item">
    <p>
      Controlling the loader by providing the flag to the <code>[flxLoader]</code> directive:
    </p>
    <app-overview-c></app-overview-c>
    <flx-code-show packageName="loader"
                   componentName="overview-c"></flx-code-show>
  </div> -->
</div>


