<div class="container">
  <app-accordion>
    <app-expandable [togglerVisible]="false"
                    [standalone]="true">
      <div header>
        <a routerLink="/packages"
           [routerLinkActive]="['active']"
           class="flx-link root">
          <span class="flx-text">Packages</span>
        </a>
      </div>
    </app-expandable>

    <app-expandable>
      <div header>
        <a routerLink="/loader"
           [routerLinkActive]="['active']"
           class="flx-link root">
          <span class="flx-text">Loader</span>
        </a>
      </div>
      <div content>
        <a routerLink="/loader/get-started"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Get started</span>
        </a>
      </div>
    </app-expandable>

    <app-expandable>
      <div header>
        <a routerLink="/circle-timer"
           [routerLinkActive]="['active']"
           class="flx-link root">
          <span class="flx-text">Circle Timer</span>
        </a>
      </div>
      <div content>
        <a routerLink="/circle-timer/get-started"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Get started</span>
        </a>
      </div>
    </app-expandable>

    <app-expandable>
      <div header>
        <a routerLink="/paginator"
           [routerLinkActive]="['active']"
           class="flx-link root">
          <span class="flx-text">Paginator</span>
        </a>
      </div>
      <div content>
        <a routerLink="/paginator/get-started"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Get started</span>
        </a>
      </div>
    </app-expandable>

    <app-expandable>
      <div header>
        <a routerLink="/treetable"
           [routerLinkActive]="['active']"
           class="flx-link root">
          <span class="flx-text">Treetable</span>
        </a>
      </div>
      <div content>
        <a routerLink="/treetable/get-started"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Get started</span>
        </a>
        <a routerLink="/treetable/nesting"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Nesting (tree view)</span>
        </a>
        <a routerLink="/treetable/templating"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Templating</span>
        </a>
        <a routerLink="/treetable/sorting"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Sorting</span>
        </a>
        <a routerLink="/treetable/filtering"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Filtering</span>
        </a>
        <a routerLink="/treetable/scrolling"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Scrolling</span>
        </a>
        <a routerLink="/treetable/virtual-scrolling"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Virtual scrolling</span>
        </a>
        <a routerLink="/treetable/expandable-rows"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Expandable rows</span>
        </a>
        <a routerLink="/treetable/selectable-rows"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Selectable rows</span>
        </a>
        <a routerLink="/treetable/resizable-columns"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Resizable columns</span>
        </a>
        <a routerLink="/treetable/reorderable-columns"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Reorderable columns</span>
        </a>
        <a routerLink="/treetable/dynamic-columns"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Dynamic columns</span>
        </a>
        <a routerLink="/treetable/pagination"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Pagination</span>
        </a>
        <a routerLink="/treetable/storable-settings"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Storable settings</span>
        </a>
        <a routerLink="/treetable/lazy-loading"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Lazy loading</span>
        </a>
        <a routerLink="/treetable/context-menu"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span class="flx-text">Context menu</span>
        </a>


        <a routerLink="/treetable/test"
           [routerLinkActive]="['active']"
           class="flx-link">
          <span>Test</span>
        </a>
      </div>
    </app-expandable>
  </app-accordion>
</div>