//@import "../../styles/variables.scss";
:host {
    * {
        //font-family: $omnesRegular;
        box-sizing: border-box;
    }

    //.flx-datatable {
        display: flex;
        flex-direction: column;
        position:relative;
        overflow: hidden;
        width: 100%;
        height: 100%;

        .dt-options {
            flex: 0 0 auto;
            position:relative;
        }

        .dt-content {
            flex: 1 0 auto;
            overflow: hidden;

            display: flex;
            flex-direction: column;

            &.scrollable-horizontally {
                overflow-x: auto;
            }

            .dt-content-inner {
                flex: 1 0 auto;
                overflow: hidden;
                //width: {{ngStyle}};
                display: flex;
                flex-direction: column;
                overflow: visible;

                .dt-head {
                    flex: 0 0 40px;

                    display: flex;
                    flex-direction: column;

                    .dt-head-inner {

                        .dt-row {
                            display: flex;
                            flex-direction: row;

                            .dt-cell {
                                flex: 0 0 auto;
                                //width: {{ngStyle}};
                                height: 40px;
                                position: relative;
                                overflow: visible;
                                background-color: #FFFFFF;
                                border-bottom: 1px solid #dcdcdc;
                                border-top: 1px solid #dcdcdc;

                                box-shadow: inset 1px 0px 0px 0px #dcdcdc;

                                &:last-child {
                                    box-shadow: inset 1px 0px 0px 0px #dcdcdc, inset -1px 0px 0px 0px #dcdcdc;
                                }

                                // &:hover {
                                //     box-shadow: inset 1px 0px 0px 0px #e9ecf5, inset -1px 0px 0px 0px #e9ecf5;
                                // }

                                &.cloned {
                                    position: fixed;
                                    opacity: 0.8;
                                    z-index: 12;
                                    cursor: move;
                                }

                                .dt-cell-inner-cover {
                                    display: none;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: #e9ecf5;
                                    box-shadow: inset 1px 1px 0px 0px #adadad;
                                    z-index: 11;

                                    &.active {
                                        display: block;
                                    }
                                }

                                .dt-cell-inner {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 13px;

                                    height: inherit;

                                    .dt-col-resizer {
                                        position: absolute;
                                        width: 0.3rem;
                                        height: 100%;
                                        cursor: col-resize;
                                        top: 0;

                                        &.left {
                                            left: 0;
                                        }
                                        &.right {
                                            right: 0;
                                        }
                                    }

                                    .dt-col-header {
                                        height: inherit;
                                        display: inline-flex;
                                        align-items: center;
                                        justify-content: center;
                                        max-width: calc(100% - 40px);
                                        letter-spacing: 1px;
                                        cursor: default;

                                        > span {
                                            opacity: 0.7;
                                            text-overflow: ellipsis;
                                            overflow: hidden;
                                            white-space: nowrap;
                                        }
                                    }

                                    .dt-col-sorter {
                                        position: relative;
                                        display: inline-flex;
                                        cursor: pointer;
                                        width: 20px;
                                        height: 20px;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;

                                        .arrow {
                                            position: relative;
                                            color: #dedede;
                                            background-color: transparent;
                                            cursor: pointer;
                                            line-height: 8px;

                                            &.active {
                                                color: #7ae6d1;
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }
                }


                .dt-body {
                    overflow-x: hidden;
                    overflow-y: auto;
                    //overflow-y: overlay; // fixes issue with 'fit' resize mode when scrollbar appears (for webkit broesers only...)
                    -ms-overflow-style: -ms-autohiding-scrollbar; // does the similar to overflow-y: overlay; for IE..


                    //&.dt-root {
                        // default flex-basis to 7rem (needed for scrolling to work properly on all major browsers)
                    //    flex: 1 1 7rem;
                    //}

                    //&.dt-nested {
                        flex: 1 1 auto;
                        //max-height: 200px; // TODO; ngStyle...
                    //}


                    .dt-body-inner {
                        // width: {{ngStyle}};
                        // height: {{ngStyle}}; // TODO..

                        .dt-row {
                            display: flex;
                            flex-direction: row;

                            &.expanded, &:hover {
                                .dt-cell {
                                    background-color: #e9ecf5;
                                }
                            }

                            .dt-cell {
                                flex: 0 0 auto;
                                //width: {{ngStyle}};
                                height: 40px;
                                position: relative;
                                overflow: visible;
                                padding: 0 5px 0 10px;
                                border-bottom: 1px solid #f5f4f4;
                                border-right: 1px solid #f5f4f4; // TEmp----

                                &:first-child {
                                    box-shadow: inset 1px 0px 0px 0px #e9ecf5;
                                }

                                &:last-child {
                                    box-shadow: inset -1px 0px 0px 0px #e9ecf5;
                                }

                                .dt-cell-inner-expander {
                                    height: inherit;
                                    display: flex;
                                    align-items: center;
                                    //justify-content: center;

                                    i {
                                        &.chevron {
                                            width: 24px;
                                            height: 24px;
                                            border-radius: 100%;
                                            border: 1px solid #7ae6d1;
                                            color: #7ae6d1;
                                            background-color: transparent;
                                            cursor: pointer;

                                            &.chevron-down {
                                                transform: rotate(90deg);
                                                background-color: #4dddc1;
                                                color: #FFF;
                                            }
                                        }
                                    }
                                }

                                .dt-cell-inner {
                                    height: inherit;
                                    display: flex; // TODO: does it needs to be flex? Can these attrs be moved to dt-cell?
                                    align-items: center;
                                    font-size: 12px;

                                    > span {
                                        opacity: 0.9;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }

                        .dt-row-expanded-content-container {
                            position: relative;
                            .dt-content {
                                .dt-content-inner {
                                    .dt-body {
                                        .dt-body-inner {
                                            .dt-row {
                                                .dt-cell {
                                                    background-color: #f5f6fa;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            
                        }
                    }

                    .dt-body-no-results-template-container {
                        position: relative;
                    }
                }
            }
        }

        .dt-paginator-container {
            flex: 0 0 auto;
            height: 4rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .dt-paginator {
                flex: 1 0 30%;
                margin-left: 1rem;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                button.dt-paginator-item {
                    flex: 0 0 auto;
                    height: 1.8rem;
                    background: transparent;
                    margin: 0 0.2rem 0 0.2rem;
                    border: 0;
                    cursor: pointer;

                    i {
                        color: #00acbf;
                    }

                    &.dt-page-link.current {
                        background-color: #00acbf;
                        color: white;
                    }

                    &.dt-navigate-btn {
                        width: 5rem;
                        text-align: center;
                        border: 1px solid #48d2e1;

                    }

                    &:disabled {
                        opacity: 0.5;
                        cursor: default;
                    }
                }
            }

            .dt-paginator-settings {
                flex: 0 1 70%;
                margin-right: 1rem;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;

                .dt-paginator-settings-item {
                    flex: 0 0 auto;
                    height: 1.8rem;
                    margin: 0 0.2rem 0 0.2rem;
                    border: 0;
                }

                input[type=number].dt-paginator-settings-item {
                    background-color: #ededed;
                    width: 4rem;
                    padding-left: 0.5rem;

                    &:focus {
                        border: 1px solid #48d2e1;
                    }
                }
            }

        }

        .dt-foot {
            flex: 0 0 auto;
            position:relative;
        }
    //}

    .material-icons {
        font-family: 'Material Icons';
    }

    .no-select {
        user-select: none;
    }

}

