<h2>Vertical scrolling</h2>


<br>
<p>
  Treetable's height, by default, is dynamic - determined by the content. Restricting the height can be done by
  providing the
  <code>bodyStyle</code> object containing the <code>height</code> attribute
  (or <code>max-height</code> if body needs to shirnk in absence of records):
</p>
<flx-scrolling-a></flx-scrolling-a>
<flx-code-show componentName="scrolling-a"></flx-code-show>


<br>
<br>
<p>
  If defined, treetable will populate parent element's height (even though no enough data is present to populate that
  height).
</p>
<flx-scrolling-b></flx-scrolling-b>
<flx-code-show componentName="scrolling-b"></flx-code-show>


<br>
<br>
<br>
<h2>Nested tables scrolling (tree view)</h2>
<p>
  examples and docs for scrolling nested tables using max-height attribute..
</p>


<br>
<br>
<h2>Horizontal scrolling</h2>
<p>
  Horizontal scrolling can be enabled with <a routerLink="/treetable/resizable-columns"
     class="flx-link">'expand' resize mode</a>.
</p>