<h2>Vertical scrolling</h2>

<p>
  Treetable's height, by default, is dynamic - determined by the content. Data scrolling can be enabled by providing the
  <code>bodyStyle</code> object containing the <code>height</code> attribute
  (or <code>max-height</code> if body needs to shirnk in absence of records):
  <br>
</p>

<flx-scrolling-a></flx-scrolling-a>

<button type="button"
        (click)="geeet()">geeet</button>
<pre class="prettyprint lang-html"><code>{{content}}</code></pre>

<br>
<p style="color: red;">
  If defined, treetable will populate parent element's height (even though no data is present). To make the treetable's
  body scrollable, in this case, <code>flex-basis</code> attribute value needs to be provided:
  <br>
</p>

<flx-scrolling-b></flx-scrolling-b>

<button type="button"
        (click)="geeet()">geeet</button>
<pre class="prettyprint lang-js"><code>{{content}}</code></pre>


<br>
<h2>Nested tables scrolling (tree view)</h2>
<p>
  examples and docs for scrolling nested tables using max-height attribute..
  <br>
</p>



<br>
<h2>Horizontal scrolling</h2>
<p>
  Horizontal scrolling is enabled with <a routerLink="/treetable/column-resizing"
     class="flx-link">'expand' resize mode</a>.
  <br>
</p>