:host {
  .container {
    //background-color: #ffffff;

    .custom-head-cell-content {
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;

      > span {
        opacity: 0.9;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
