<div class="modal-content-wrapper">
  <div class="head">
    <h2>Address Matching</h2>
    <!-- <button class="close-button" (click)="close()">×</button> -->
  </div>
  <div class="body">
    <div>Title: <strong>{{item.parsedDetails[ItemField.Title]}}</strong></div>
    <div>O Address: <strong>{{item.parsedDetails[ItemField.Address]}}</strong></div>
    <!-- <div>F Address: <strong>{{item.parsedDetails[ItemField.FormattedAddress]}}</strong></div> -->
    <div>Locality: <strong>{{item.parsedDetails[ItemField.Locality]}}</strong></div>

    <div class="suggestions flx-margin-top-10">
      <div>Match item with one of the following address groups? (click to select):</div>
      <!-- Suggestions will be listed here -->
      <div *ngIf="!suggestions?.length">No suggestions available.</div>
      <ul *ngIf="suggestions?.length"
          class="suggestions-list">
        <li *ngFor="let ag of suggestions">
          <span class="flx-clickable"
                (click)="selectedSuggestion = ag">{{ag.key}}</span>
        </li>
      </ul>

      <div class="buttons"
           *ngIf="selectedSuggestion">
        <button type="button"
                (click)="matchOnly()">Match</button>
        <button type="button"
                (click)="matchAndAddToAliases()">Match + add value below to aliases</button>
      </div>
    </div>

    <div class="create-form flx-margin-top-20">
      <div>Or create an address group (and match item):</div>

      <input type="text"
             placeholder="Address group key..."
             [(ngModel)]="newAddressGroupKey" />
      <!-- <input type="text"
             placeholder="Address group key..."
             [(ngModel)]="newAddressGroupLocality" /> -->

      <button type="button"
              class="flx-margin-top-10"
              (click)="createAddressGroup()">Create Address Group</button>
    </div>

  </div>
  <div class="foot">
    <button type="button"
            (click)="close()">Close</button>
    <button type="button"
            (click)="deleteItem()">Delete item</button>
  </div>
</div>